<h1>Add Comment</h1>
<form action=" <%= comments_url %>" method="POST">
  <%= auth_token %>
  <label for="commnet"> Your comment: </label>
  <textarea id="comment" name="comment[comment]"> <%= @comment.comment %></textarea>
  <input type="hidden" name="comment[commentable_id]" value="<%=  @goal.id %>">
  <input type="hidden" name="comment[commentable_type]" value="<%=  @goal.id %>">

  <button>New Comment</button>

</form>
